body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  background: #eee;
  line-height: 1.6em;
  font-size: 18px;
  color: #424242;
  overflow: scroll;
}

h1 {
  border-bottom: 1px solid #212121;
  padding-bottom: 8px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  line-height: 1.4em;
}

img {
  width: 650px;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 650px;
  width: 100%;
  padding: 48px 0;
}

code {
  background: rgba(0, 0, 0, 0.05);
  padding: 4px;
}

li {
  padding: 8px 0;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.Back,
.Next {
  flex: 0 1 auto;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}

.Page {
  flex: 1;
  text-align: center;
}

.Back,
.Next,
.Page {
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  color: #424242;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.Content {
  height: 100%;
  max-width: 650px;
}
